[[extend 'layout3.html']]

[[block header]]
[[icon='fa fa-box-open']]
[[breadcamp = 'Edit Unit']]
[[end]]

[[block content]]

<div class="container py-5">
    <div id="custom_input">
        <div class="col-3">
            [[=form]]
        </div>
    </div>
</div>

[[end]]

[[block scripts]]
<script>
    $(document).ready(function() {
        var errorElement = $('.py4web-validation-error');
        if (errorElement.length) {
            // Change the class to 'text-danger'
            errorElement.removeClass('py4web-validation-error').addClass('text-danger');
        }
    });
</script>
[[end]]