[[extend 'layout3.html']]

[[block header]]
[[icon='fa fa-box-open']]
[[breadcamp = 'Edit Brand']]
[[end]]

[[block content]]

<div class="container py-5">
    <div id="custom_input">
        <div class="col-3">
            [[=form]]
        </div>
    </div>
</div>

[[end]]

[[block scripts]]
<script>
    $(document).ready(function() {
        var errorElement = $('.py4web-validation-error');
        if (errorElement.length) {
            // Change the class to 'text-danger'
            errorElement.removeClass('py4web-validation-error').addClass('text-danger');
        }
    });
</script>
[[end]]

[[block scripts]]
<script>
    $(document).ready(function() {
        $("#brand_supplier_name").change(function() {  
                // console.log('Hello')  ;
                var selectedValue = $(this).val();  
                $.ajax({
                    url: '[[=URL("brand","get_sup_code")]]', // Replace with your endpoint
                    method: 'GET',
                    data: { q: selectedValue },
                    dataType: 'json',
                    success: function(data) {
                    // console.log(data['branh_code'])            
                    $("#brand_supplier_code").val(data['supplier_code']);            
                }
            });  

        });
    });
</script>

[[end]]