[[extend 'layout4.html']]

[[block header]]
<style>
    .custom-radio {
    width: 15px;
    height: 15px;
    }
        li{
        list-style: none;
        cursor: pointer;
    }
    ul.suggestion-list-cd,ul.suggestion-list-nm,ul.suggestion-list-rf{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        }

    .suggestions-cd,.suggestions-nm,.suggestions-rf{
        display: block; 
        background: #eee;
        position: absolute;               
        z-index: 1000; /* Add this line to make sure the suggestion list is on top */
        
        
    }

    .scrollable-table {
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.table th{
    background-color: #a8b2bc;
    color: black;
    font-weight: bold;
    position: sticky;
    top: 0;
}
.table tfoot {    
    color: black;
    font-weight: bold;
    position: sticky;
    bottom:-1;
    
}
.table tbody tr:nth-of-type(even){
    background-color: #f3f6f8;
}
.custom-max-width {
  max-width: 80%; /* Adjust the value as needed */
  margin: 0 auto; /* Center the container */
}

</style>

[[icon='fa fa-chart-line']]

[[breadcamp = 'Edit Voucher']]
[[icon2='fa-solid fa-plus']]
[[breadcamp2 = 'New Voucher']]

[[end]]



[[block content]]
<div class="container py-1">
    <div class="card shadow-sm mb-0">
        <div class="card-body">
            <div class="row">
                <!-- Left Column -->
                <div class="col-md-6">
                    <div class="mb-2">
                        <strong>Voucher Type:</strong>
                        <span id="v_type" class="badge bg-success ms-2">[[ = v_type]]</span>
                    </div>
                    <div class="mb-2">
                        <strong>Voucher Date:</strong>
                        <span id="v_date" class="ms-2">[[ = v_date]]</span>
                    </div>
                    <div class="mb-2">
                        <strong>Narration:</strong>
                        <input type="text" id="narration" class="form-control-md" style="width: 70%;" value="[[ = narration]]" >
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-6">
                    <div class="mb-2">
                        <strong>Serial No:</strong>
                        <span id="sl" class="ms-2">[[ = sl]]</span>
                    </div>
                    <div class="mb-2">
                        <strong>Status:</strong>
                        <span id="status" class="badge bg-success ms-2">[[ = status]]</span>
                    </div>   
                    <div class="mb-2">
                        <strong>Branch:</strong>
                        <span id="vbn" class="ms-2">[[ = voucher_branch_name]]</span>
                        <span id="vbc" style="display: none;" class="ms-2">[[ = voucher_branch_code]]</span>
                    </div>   
                                     
                </div>
            </div>
        </div>
    </div>
</div>




[[if editable: ]]
<div class="container-section">
    <div class="container py-2">
        <div class="card shadow-sm">
            <div class="card-body">
                <div id="custom_input">
                    <div class="row g-3">
                        <!-- Account Code -->
                        <div class="col-md-2">
                            <label for="account_code" class="form-label">Account Code</label>
                            <input type="text" class="form-control form-control-sm" id="account_code" name="account_code" autocomplete="off">
                            <div class="suggestions-cd mt-2">
                                <ul class="suggestion-list-cd list-group" id="dropdata-cd">
                                    <!-- suggestions will be displayed here -->
                                </ul>
                            </div>
                        </div>
    
                        <!-- Account Name -->
                        <div class="col-md-3">
                            <label for="account_name" class="form-label">Account Name</label>
                            <input type="text" class="form-control form-control-sm" id="account_name" name="account_name" autocomplete="off" readonly="true">
                            <div class="suggestions-nm mt-2">
                                <ul class="suggestion-list-nm list-group" id="dropdata-nm">
                                    <!-- suggestions will be displayed here -->
                                </ul>
                            </div>
                        </div>
    
                        <!-- Debit/Credit Radio Buttons -->
                        <div class="col-md-2 d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input custom-radio" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Debit</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input custom-radio" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Credit</label>
                            </div>
                        </div>
    
                        <!-- Amount -->
                        <div class="col-md-2">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="number" class="form-control form-control-sm" id="amount" name="amount" min="0" max="10000000">
                        </div>
    
                        <!-- Ref. Type -->
                        <div class="col-md-1">
                            <label for="type-ref" class="form-label">Ref. Type</label>
                            <select class="form-select form-select-sm" id="type-ref" name="type-ref">                                
                                <option value="Select">Select</option>
                                <option value="Employee">Employee</option>
                                <option value="Vehicle">Vehicle</option>
                            </select>
                        </div>
    
                        <!-- Reference -->
                        <div class="col-md-2">
                            <label for="det-ref" class="form-label">Reference</label>
                            <input type="text" class="form-control form-control-sm" id="det-ref" name="det-ref">
                            <div class="suggestions-rf mt-2">
                                <ul class="suggestion-list-rf list-group" id="dropdata-rf">
                                    <!-- suggestions will be displayed here -->
                                </ul>
                            </div>
                        </div>
    
                        <!-- Add Row Button -->
                        <div class="col-md-2 d-flex align-items-end">
                            <button type="button" class="btn btn-primary btn-sm w-100" data-toggle="tooltip" data-placement="bottom" title="Add account to the voucher" id="add-row">
                                <i class="fas fa-plus"></i> Add Account
                            </button>
                        </div>
    
                        <!-- Hidden Input -->
                        <div class="col-md-2">
                            <input type="hidden" class="form-control form-control-sm" id="ref-code" name="ref-code">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [[pass]]
    
    <div class="container py-2" >
        <div class="row">
            <div class="col-12">
                <div class="scrollable-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Account Code</th>
                                <th scope="col">Account Name</th>
                                <th scope="col">Debit</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Ref. Code</th>
                                <th scope="col">Reference</th>
                                [[if editable: ]]
                                <th scope="col">Remove</th>
                                [[pass]]
                            </tr>
                        </thead>                        
                        <tbody id="tbody">
                            [[for row in rows:]]
                            <tr>
                                <td>[[=row.account_code]]</td>
                                <td>[[=row.account_name]]</td>
                                <td>[[=f"{row.amount:,}" if row.amount > 0 else 0]]</td>
                                <td>[[=f"{abs(row.amount):,}" if row.amount < 0 else 0]]</td>
                                <td>[[=row.ref_code]]</td>
                                <td>[[=row.ref_name]]</td>
                                [[if editable: ]]
                                <td><button type='button' class='btn btn-outline-danger remove-row'><i class='fa-solid fa-x'></i></button></td>
                                [[pass]]
                            </tr>
                            [[pass]]
                        </tbody>
                        <tfoot>
                            <tr class="tft">
                                <td id="emp" style="font-weight: bold;"></td>
                                <td id="tot" style="font-weight: bold;">Total</td>
                                <td id="total-debit" style="font-weight: bold;">0</td>
                                <td id="total-credit" style="font-weight: bold;">0</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                
            </div>
        </div>
        [[if editable: ]]
        <div class="row mt-3">
            <div class="col-11">
                <button type="button" class="btn btn-success me-2" data-toggle="tooltip" data-placement="bottom" title="Save Voucher" id="save-data">Save</button>
                <input type="checkbox" id="post-checkbox" name="post-checkbox" data-toggle="tooltip" data-placement="bottom" title="Post">
                <label for="post-checkbox">POST</label>
            </div>
            <div class="col-1">            
                <button type="button" class="btn btn-danger me-2" data-toggle="tooltip" data-placement="bottom" title="Cancel Voucher" id="cancel-data">Cancel</button>          
            </div>
        </div>
        [[pass]]
    </div>
</div>
[[end]] 

[[block scripts]]
<script>
    $(document).ready(function () {
        
        function formatNumberWithCommas(number) {
            return number.toLocaleString();
        }   

        function updateTotals() {
            let totalDebit = 0;
            let totalCredit = 0;

            $("#tbody tr").each(function () {
                totalDebit += parseFloat($(this).find("td:eq(2)").text().replace(/,/g, '')) || 0;
                totalCredit += parseFloat($(this).find("td:eq(3)").text().replace(/,/g, '')) || 0;
            });
            // console.log(formatNumberWithCommas(totalDebit.toFixed(2)))
            // console.log(formatNumberWithCommas(totalCredit.toFixed(2)))

            $("#total-debit").text(formatNumberWithCommas(totalDebit));
            $("#total-credit").text(formatNumberWithCommas(totalCredit));


        }

       
        //////////////
        updateTotals();

        // autofill suggestion for account code
        $('#account_code').on('input', function() {        
            var v_branch_code  = $("#vbc").text();
            var query = $(this).val();            
            if (query.length >= 3) {
                $.ajax({
                    url: '[[=URL("fetch_account_code_voucher_detail")]]',
                    data: {term: query, v_branch_code: v_branch_code},
                    success: function(data) {
                        var suggestions = JSON.parse(data);
                        var dropdown = $('#dropdata-cd');
                        dropdown.empty(); 
                        $.each(suggestions, function(index, value) {
                            dropdown.append('<li class="list-group-item suggestion-item">' + value + '</li>');
                        });
                        $('.suggestions-cd').show();
                    }
                });
            } else {
                $('.suggestions-cd').hide(); 
            }
    });

    //click on a suggestion
    $(document).on('click', '.suggestion-item', function() {
        var selectedText = $(this).text();
        var parts = selectedText.split('|');        
        $('#account_code').val(parts[0]); 
        $('#account_name').val(parts[1]); 
        $('.suggestions-cd').hide();
        
    });
    // click outside
    $(document).click(function(e) {
        if (!$(e.target).closest('.suggestions-cd, #account_code').length) {
            $('.suggestions-cd').hide();
        }
    });   

    //autofill suggestion for reference
    $('#det-ref').on('input', function() {        
            var r_type= $('#type-ref').val();            
            var query = $(this).val();            
            if (query.length >= 3) {
                $.ajax({
                    url: '[[=URL("fetch_reference")]]',
                    data: {term: query, r_type: r_type},
                    success: function(data) {
                        var suggestions = JSON.parse(data);
                        var dropdown = $('#dropdata-rf');
                        dropdown.empty(); 
                        $.each(suggestions, function(index, value) {
                            dropdown.append('<li class="list-group-item suggestion-rf">' + value + '</li>');
                        });
                        $('.suggestions-rf').show();
                    }
                });
            } else {
                $('.suggestions-rf').hide(); 
            }
    });

    //click on a suggestion
    $(document).on('click', '.suggestion-rf', function() {
        var selectedText = $(this).text();
        var parts = selectedText.split('|');        
        $('#det-ref').val(parts[1]); 
        $('#ref-code').val(parts[0]); 
        $('.suggestions-rf').hide();
        
    });
    //when clicking outside
    $(document).click(function(e) {
    if (!$(e.target).closest('.suggestions-rf, #ac_name').length) {
        $('.suggestions-rf').hide();
    }
});
            
        //////////////////////////new add row/////////////////////////////////////////////////
           //add row to table and update total debit and credit
           $("#add-row").click(function () {            
            var account_code = $("#account_code").val();
            var ac_name = $("#account_name").val();
            var ref_code = $("#ref-code").val();
            var ref_name = $("#det-ref").val();
            var amount = $("#amount").val();
            var v_type = $("#v_type").text();
            var v_date = $("#v_date").text();   
            var sl = $("#sl").text();    
            var voucher_branch_code  = $("#vbc").text();  
            var type ;


            var isDebit =  $("#inlineRadio1").is(":checked");
            var isCredit =  $("#inlineRadio2").is(":checked");
            
            var debit = isDebit ? amount : 0;
            var credit = isCredit ? amount : 0;   
            
            if (amount <= 0) {
                alert("Amount must be greater than zero.");
                return; 
            } 
            
            if(isDebit){
                type='debit';
                amount =  parseFloat(amount);                
            }
            else if(isCredit){
                type='credit'; 
                amount = parseFloat(amount)*(-1);                 
            }

            // console.log(voucher_branch_code)
            
            var accountExists = false;

            // var obj={acno:account_code, vt:v_type, type:type}

            

            var obj={acno:account_code,acname :ac_name, vt:v_type, vd:v_date,sl:sl, type:type,amount:amount,ref_code:ref_code,ref_name:ref_name, v_branch_code:voucher_branch_code}
    
            // Check if account code already exists in the table
            $("#tbody tr").each(function() {
                var existingAccountCode = $(this).find("td:eq(0)").text();
                if (existingAccountCode === account_code) {
                    accountExists = true;
                    return false; 
                }
            });

    
            if (accountExists) {
                alert("Account code already exists. Please enter a different account code.");
            } else if (account_code && (debit || credit)) {
                $.ajax({
                    url: "[[=URL('check_account_code')]]",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(obj),
                    success: function (response) {
                        var result = JSON.parse(response);
                        console.log(result.status)
                        if (result.status === 'valid') {
                            console.log(debit)
                            console.log(credit)
                            console.log(formatNumberWithCommas(debit))
                            console.log(formatNumberWithCommas(credit))

                            var newRow = "<tr><td>" + account_code + "</td><td>" + ac_name + "</td><td>" + formatNumberWithCommas(parseFloat(debit)) + "</td><td>" + formatNumberWithCommas(parseFloat(credit)) + "</td><td>" + ref_code + "</td><td>"+ ref_name  +"</td><td> <button type='button' class='btn btn-outline-danger remove-row'><i class='fa-solid fa-x'></i>  </button></td></tr>";
                            
                            $("#tbody").append(newRow);                           

                            $('#account_code').val("")
                            $('#account_name').val("")
                            $('#amount').val("")
                            $('#det-ref').val("")
                            $('#ref-code').val("")
                            $('input[type="radio"]').prop('checked', false)
                            $("#account_name").focus();
                            $("#type-ref").val($("#target option:first").val());

                            updateTotals();
                        } else if (result.status === 'invalid') {
                            alert("Account not valid for "+v_type+" voucher");
                        } else if (result.status === 'not_found') {
                            alert("Account not found for the user");
                        } else if (result.status === 'rf_not_found') {
                            alert("Reference not found");
                        }else {
                            alert("error");
                        }
                    }
        });
        } else {
                alert("Please fill in all required fields.");
            }
        }
    );
   

    //    Remove row
        $(document).on('click', '.remove-row', function () {
            var row = $(this).closest('tr');
            var account_code = row.find('td:eq(0)').text(); 
            var sl = $("#sl").text();
            $.ajax({
                url: "[[=URL('delete_voucher_detail')]]",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ account_code: account_code,sl:sl }),
                success: function (response) {
                    if (response.status === 'success') {                        
                        row.remove();
                        updateTotals()
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function () {
                    alert("An error occurred while trying to remove the row.");
                }
            });      
           
        });


        // save button new
        $("#save-data").click(function () {
            
            var narration = $('#narration').val();
            var sl = $("#sl").text();         
            
            var isPostChecked = $('#post-checkbox').is(':checked');

            var totalDebit = parseFloat($('#total-debit').text().replace(/,/g, ''));
            var totalCredit = parseFloat($('#total-credit').text().replace(/,/g, ''));

            if (isPostChecked && totalDebit !== totalCredit) {
            alert('Total debited amount must equal total credited amount.');
            return;
        }
        
                $.ajax({
                    type: 'POST',
                    url: '[[=URL("save_voucher_details")]]',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        narration: narration,
                        post: isPostChecked,
                        sl:sl,
                        total: totalDebit
                    }),
                    success: function(data) {
                        if (data.success) {
                            if (isPostChecked) {
                                alert('Voucher posted successfully!');
                            } else {
                                alert('Voucher saved successfully!');
                        }
                            location.reload();
                        } else {
                            // Handle error
                            alert('Failed to save data: ' + data.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }

            }
        );


    });


        // cancel button
        $("#cancel-data").click(function () {
            var sl = $("#sl").text();
            console.log(sl);

                // Confirmation dialog
                var confirmCancel = confirm("Are you sure you want to cancel the voucher?");
                if (confirmCancel) {
                // User clicked 'Yes'
                $.ajax({
                    url: '[[=URL("cancel_voucher")]]',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ sl: sl }),
                    success: function (response) {
                        alert("Voucher cancelled successfully!");
                        location.reload();
                        // $("#status").html('<span class="badge bg-success">CANCEL</span>');
                        // $("#save-data").prop('disabled', true);
                        // $("#cancel-data").prop('disabled', true);
                        // $("#post-data").prop('disabled', true);
                        // $("#status").text("CANCEL");
            },
            error: function (xhr, status, error) {
                alert("An error occurred while cancelling the voucher.");
            }
        });
        } else {
            // User clicked 'No', do nothing
            console.log("Voucher cancellation aborted by user.");
        }
    });
            

});
</script>

[[end]]




