<div class="header-menu-right d-flex justify-content-between custom-max-width">
  <div class="sidebar-brand">
    <a href="#">
      <i class="[[=icon]]"></i>        
      <span class="fw-bold">[[=breadcamp]]</span>      
    </a>
  </div>
  <div class="sidebar-brand">
    <a href="[[=URL('vouchers','voucher')]]">
      <i class="[[=icon2]]"></i>        
      <span class="fw-bold">[[=breadcamp2]]</span>      
    </a>
  </div>
</div>
<div>
  <!-- <a id="btn-toggle" href="#" class="sidebar-toggler break-point-sm">
    <i class="ri-menu-line ri-xl"></i>
  </a> -->
  <a id="btn-toggle" href="[[=URL('voucher')]]" class="sidebar-toggler break-point-sm">
    <i class="ri-menu-line ri-xl"></i>
  </a>
</div>

